<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body style="background-image: linear-gradient(white,grey); height: 76%; padding: 1rem; margin: auto; margin-top: 150px; 
  margin-left:400px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <h1 style="letter-spacing: 2px; font-weight: bold; font-size: 25px;">FACIAL EXPRESSION RECOGNITION VIDEO</h1> 
    <img style="margin-left: 115px; border: 5px solid black;" src="{{ url_for('video_feed') }}">
  </body>
</html>








